# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache/
.coverage

# Python virtual environment
.venv

# macOS
.DS_Store

# Output files
output